* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-register {
    width: 400px;
    background: #3c585ed7;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

body {
    background-image: url(BackGround.png);
    background-size:100% 100%;
    background-attachment: fixed;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #188f53;
    font-family: 'calibri';
    font-size: 18px;
    color: aliceblue;
}

.extras{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #188f53;
    font-family: 'calibri';
    font-size: 18px;
    color: aliceblue;
}

.form-register p {
    height: 80px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}



.form-register .bottom {
    width: 100%;
    background: rgb(2, 189, 173);
    border: none;
    padding: 16px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}