* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

.Notificaciones {
    width: 400px;
    background: #243032d2;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.Notificaciones h4 {
    font-size: 22px;
    margin-bottom: 2px;
}

body {
    background-image: url(Loggin.jpg);
    background-size:100% 100%;
    background-attachment: fixed;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #db2d2df6;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(41, 88, 129);
}

.Notificaciones .bottom{
    width: 100%;
    background: #a52e2e;
    border: none;
    padding: 16px;
    color: white;
    margin: 10spx;
    font-size: 16px;
}